input[type=submit] {
  width:350px; height:42px; font-family: verdana; font-size: 15px; color:#FFF; 
  background-color: #045FB4; border: solid 1px #045FB4; padding: 7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
  -khtml-border-radius: 4px; border-radius: 4px;-webkit-box-shadow: 1px 1px 5px 3px #FFF; box-shadow: 1px 1px 5px 3px #FFF; 
  -webkit-box-shadow: 1px 1px 5px 1px #000000; box-shadow: 1px 1px 5px 1px #000000;"
}

input[type=email] {
  width:350px; 
  height:42px; 
  font-family: verdana; font-size: 12px; color:#333333; 
  background-color: #FFF; border-radius: 4px; border: solid 1px #AAA; padding: 10px; 
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; font-weight: bold; 
  -khtml-border-radius: 4px; border-radius: 4px;-webkit-box-shadow: 1px 1px 5px 3px #FFF; box-shadow: 1px 1px 5px 3px #FFF; 
  -webkit-box-shadow: 1px 1px 5px 1px #000000; box-shadow: 1px 1px 5px 1px #000000;"
}

input[type=password] {
  width:350px; 
  height:42px; 
  font-family: verdana; font-size: 12px; color:#333333; font-weight: bold; 
  background-color: #FFF; border-radius: 4px; border: solid 1px #AAA; padding: 10px; 
  -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px;
  -khtml-border-radius: 4px; border-radius: 4px;-webkit-box-shadow: 1px 1px 5px 3px #FFF; box-shadow: 1px 1px 5px 3px #FFF; 
  -webkit-box-shadow: 1px 1px 5px 1px #000000; box-shadow: 1px 1px 5px 1px #000000;"